  <!-- Index
  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  -->
  <h1>Bitly example</h1>
  <form action="/urls" method="post">
    Ingresa tu url larga
    <br>
    <input type="text" name="url_original">
    <input type="submit" value="short!">
  </form>

  