  <!-- Index
  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  -->
  <h1>Bitly example</h1>
  <form action="/urls" method="post">
    Ingresa tu url larga
    <br>
    <input type="text" name="url_original">
    <input type="submit" value="short!">
  </form>

  <% if @error %>
    <p> URL no válida <p>
    <br>
  <% end %>

  <% if @urls%>
    <% @urls.each do |url| %>
      <p>
      <strong>long_url:</strong>  <%= url.long_url %>
      <br>
      <strong>short_url:</strong> <%= url.short_url %>
      </p>
      <% end %>
  <%end%>

